<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Number Checker</title>
    <!-- Added link to the jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Added a link to Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center">Web Apps Dev Team</h1>
        <h2 class="text-center">Greatest dev team in the whole wide world</h2>
    </div>

    <div class="container">

        <div class="row justify-content-center mb-3" id="mgmt-row">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" id="mgmt-name">Aleksei Cruz</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="mgmt-title">Manager</h6>
                    <p class="card-text">Email: <span id="mgmt-email">alekseicruz@gmail.com</span> </p>
                    <p class="card-text">Office Number: <span id="mgmg-office">123</span> </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-3" id="eng-row">

            <div class="col-auto">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" id="eng-name">Aleksei Cruz</h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="eng-title">Engineer</h6>
                        <p class="card-text">Email: <span id="eng-email">alekseicruz@gmail.com</span> </p>
                        <p class="card-text">Github username: <span id="eng-github">robcruz</span> </p>
                    </div>
                </div>
            </div>


        </div>

        <div class="row justify-content-center mb-3" id="intern-row">

            <div class="col-auto">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" id="intern-name">Aleksei Cruz</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Intern</h6>
                        <p class="card-text">Email: <span id="intern-email">alekseicruz@gmail.com</span> </p>
                        <p class="card-text">Office Number: <span id="intern-office">123</span> </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>
